  /* Structure de la page */


 

  @font-face {
    font-family: 'ComicSansItalic';
    src: url('comic-sans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
  header .logo a {
    font-size: 2.7rem;
    color: #00aaff;
    font-family: 'ComicSansItalic', sans-serif;
    font-style: italic;
    text-decoration: none;
  }

  .logo{
    text-align: center;
    padding: 4px;
  }

  footer {
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    color: #000;
    margin-top: auto; /* Pousse le footer vers le bas */
}

  footer p {
    text-decoration: none;
    margin: 0;
    padding: 30px;
  } 

 